
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }
        h1 {
            color: aqua;
        }
        p {
            font-size: 18px;
            color: #666;
        }
        #lyrics {
            font-style: italic;
            color: #a82222;
        }
        h4 {
            margin-bottom: 0;
        }